.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbarLogo{
    width: 100px;
}

.navbarList{
    display: flex;
    list-style: none;
    
    li{
        font-size:larger;
        padding: 8px;
        border: 1px solid #222;
        border-radius: 3px;
    }
    li:hover{
        cursor: pointer;
    }
    
}


